*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #414A4F;
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px ;
    margin-left: 210px;
    margin-top: 10px;
    
}

#question {
    font-size: 40px;
    font-weight: bold;
    color: white;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #44857D;
    border: solid#44857D;
    border-radius: 20px;
    padding: 30px 80px;
    color: white;
    outline: none;
    font-size: 20px;
}

.btn:hover {
    background-color: #FB9334;
    border-color: #FB9334;
}

.btn.correct {
    background-color: #40AF25;
}

.btn.wrong {
    background-color: #FB6234;
}

.start-btn, .next-btn{
    font-size: 1,5rem;
    font-weight: bold;
    padding: 20px 90px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.hide {
    display: none;
}

.picture {
    width: 1200px; 
    height: 700px;
}
.nextbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicator {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 280px;
    margin-top: 150px;
    align-items: baseline;
    
}

.indicator > a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 10px;
    border-radius: 20px;
   
}
.indicator > p {
    font-size: 30px;
    color: white;
    
}

@media screen and (max-width:1024px) {

    .picture, img {
        width: 400px; 
        height: 300px;
    }

    .indicator {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 50px;
        margin-top: 5px;
        align-items: baseline;
        
    }
    
    .indicator > a {
        font-size: 20px;
        padding: 10px 3px;
        
        border-radius: 20px;
       
    }
    .indicator > p {
        font-size: 30px;
        color: white;
       
        border: solid 2px;
        border-radius: 5px;
        padding: 10px 20px;
        
    }

    .container {
        width: 700px;
        max-width: 100%;
        border-radius: 5px;
        padding: 10px ;
        margin-left: 2px;
        margin-top: 10px;
        
    }
    
        


    .start-btn, .next-btn{
        font-size: 1,5rem;
        font-weight: bold;
        padding: 20px 40px;
    }

    .btn-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }

    #question {
        font-size: 15px;
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
                
    
    }

    .btn {
        background-color: #44857D;
        border: solid#44857D;
        border-radius: 20px;
        color: white;
        outline: none;
        font-size: 20px;
        padding: 40px ;
    }
}